{% extends 'admin.twig' %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <h2 class="card-title">Disabled-State Overview</h2>

            <table style="width: 50%;">
                <tr>
                    <th style="text-align: left">Gesperrt</th>
                    <th style="text-align: left">Name</th>
                </tr>

                {% for site in sites %}
                    <tr>
                        <td>{{ site.disabled }}</td>
                        <td>{{ site.label }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}